*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, Montserrat, sans-serif;
}
body{
    background: linear-gradient(to top, #C6426E, #642B73);
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
}

/*-------Game Window-------*/

.block{
    margin: 3% 0 auto 7%;
    width: 70vw;
    height: 85vh;
    box-shadow: 1px 10px 50px rgba(0, 0, 0, 0.5);
    background-image: url(../img/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    /* display: inline-block; */
    margin-bottom: 500px;
}

#pacman{
    z-index: 1;
    position: absolute;
    left: 49%;
    top: 72%;
    background: url(../img/Pacman-2.png);
    height: 48px;
    width: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.points{
    display: block;
    z-index: 1;
    position: absolute;
    left: 67px;
    top: 42px;
    background: url(../img/Points.png);
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.power{
    width: 50px;
}
.scared{
    opacity: 0.3;
}

.vertical-line{
    z-index: 1;
    position: absolute;
}

.verticals{
    background: url(../img/Platforms/Platform_Vertical_Pink.png);
    height: 100px;
    width: 30px;
    background-size: contain;
}

.horizontal-line{
    z-index: 1;
    position: absolute;
    display: flex;
}

.horizontal{
    background: url(../img/Platforms/Platform_Pink_Wide.png);
    width: 100px;
    height: 20px;
    background-size: contain;
}
.ghost{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 40%;
}
.blinky{
    left: 35%;
    background: url(../img/blinky2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.pinky{
    left: 40%;
    background: url(../img/pinky2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.inky{
    left: 45%;
    background: url(../img/inky2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.clyde{
    left: 50%;
    background: url(../img/clyde2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*---------Score UI--------*/
#scoreUI{
    height: 85vh;
    width: 20vw;
    margin: 3% auto auto 0;
    /* display: inline-block; */
}

#scoreUI h1{
    color: #132527;
    margin-top: 70%;
    text-align: center;
}

#score{
    border-radius: 20px;
    margin-top: 10px;
    background-color: #fff;
    height: 50px;
    width: 150px;
    margin-left: 25%;
    text-align: center;
    color: #642B73;
    font-size: x-large;
    padding-top: 11px;
}
