html{
    overflow-anchor: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, Montserrat, sans-serif;
}
body{
    background: linear-gradient(to top, #C6426E, #642B73);
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    height: 100vh;
}

/*-------Game Window-------*/

.block{
    margin: 7.5vh 0 auto auto;
    width: 75%;
    height: 85%;
    background-image: url(../img/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
    /* display: inline-block; */
}

#pacman{
    z-index: 1;
    position: absolute;
    left: 49%;
    top: 72%;
    background: url(../img/Pacman-2.png);
    height: 48px;
    width: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.points{
    display: block;
    z-index: 1;
    position: absolute;
    left: 67px;
    top: 42px;
    background: url(../img/Points.png);
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.power{
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.scared{
    opacity: 0.3;
}

.vertical-line{
    z-index: 1;
    height: 100%;
    position: absolute;
}

.verticals{
    background: url(../img/Platforms/Platform_Vertical_Pink.png) no-repeat;
    height: 16.66%;
    width: 30px;
    background-size: contain;
}

.horizontal-line{
    width: 98%;
    z-index: 1;
    position: absolute;
    display: flex;
}

.horizontal{
    background: url(../img/Platforms/Platform_Pink_Wide.png) no-repeat;
    width: 10.5%;
    height: 30px;
    background-size: contain;
}
.ghost{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 40%;
}
.blinky{
    left: 35%;
    background: url(../img/blinky2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.pinky{
    left: 40%;
    background: url(../img/pinky2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.inky{
    left: 45%;
    background: url(../img/inky2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.clyde{
    left: 50%;
    background: url(../img/clyde2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*---------Score UI--------*/
#scoreUI{
    height: 85vh;
    width: 20vw;
    margin: 7.5vh auto auto 0;
    /* display: inline-block; */
    background-image: url(../img/Background.png);
    background-position: center;
    background-size: cover;
    padding-right: 3%;
    padding-left: 1%;
}

#logo{
    margin-top: 45%;
    background: url(../img/Pac-Man-Logo.png);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2%;
}

#scoreUI h1{
    margin-top: 14%;
    color: #fcc73e;
    text-align: center;
    margin-left: 5%;
    text-shadow: 2px 0px 10px rgba(0, 0, 0, 0.7);
}

#score{
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-top: 15px;
    background-color: #fff;
    height: 50px;
    width: 150px;
    margin-left: 22.5%;
    text-align: center;
    color: #642B73;
    font-size: x-large;
    padding-top: 11px;
}

#scoreUI button{
    margin:  17% auto auto 30%;
    padding: 10px 30px;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #642B73;
    transition-duration: 0.3s;
}

#scoreUI button:hover{
    background-color: #fcc73e;
    color: #fff;
}